{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{# =========== HEAD =========== #}
	{% block title %}Create a job{% endblock %}


{# =========== BODY  =========== #}

	{% block navbar %}

		<li ><a href="/" >Jobs</a></li>
	    <li class='active'><a href="/create">Create a job</a></li>

	{% endblock %}

    {% block body %}
       
          <h1>Create a new job</h1>
         
          	{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
    {% endblock %}