{% extends 'base.html.twig' %}

{# =========== HEAD =========== #}
{% block title %}Detail of a job{% endblock %}


{# =========== BODY  =========== #}

	{% block navbar %}

		<li ><a href="/" >Jobs</a></li>
	    <li ><a href="/create">Create a job</a></li>

	{% endblock %}

    {% block body %}
        <h1>Detail information</h1>	

        <table class="table table-striped detail_table">
            
           {% for d in details %}
            <tr>
                <th>Company:</th>
                <td>{{d.companyName}}</td>
            </tr>
            <tr>
                <th>Job:</th>
                <td>{{d.jobName}}</td>
            </tr>
            <tr>
                <th>Street:</th>
                <td>{{d.street}}</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>{{d.city}}</td>
            </tr>
            <tr>
                <th>Zipcode:</th>
                <td>{{d.zipcode}}</td>
            </tr>
            {% endfor %}
        </table>

    {% endblock %}

   