{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{# =========== HEAD =========== #}
{% block title %}Edit a job{% endblock %}


{# =========== BODY  =========== #}
	
	{% block navbar %}

		<li ><a href="/" >Jobs</a></li>
	    <li ><a href="/create">Create a job</a></li>

	{% endblock %}

    {% block body %}
        <div>
            <h1>Edit a job</h1>

            {{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}

        </div>
    {% endblock %}