{% extends 'base.html.twig' %}

{# =========== HEAD =========== #}
{% block title %}Jobs{% endblock %}


{# =========== BODY  =========== #}
	
	{% block navbar %}

		<li class='active'><a href="/" >Jobs</a></li>
	    <li ><a href="/create">Create a job</a></li>

	{% endblock %}

    {% block body %}


       	<table class="table">  
       		<thead> 
       			<tr> 
       				<th>Job name</th> 
       				<th></th>
       			</tr> 
       		</thead> 
       		<tbody> 
                        {% for job in jobs %}
             			<tr> 
             				<td>{{job.jobName}}</td> 
             				<td>
             					<a href="/detail/{{job.id}}" class='btn btn-primary btn-sm'>Details</a>
             					<a href="/edit/{{job.id}}" class='btn btn-default btn-sm'>Edit</a>
             					<a href="/delete/{{job.id}}" class='btn btn-danger btn-sm'>Delete</a>
             				</td>
             			</tr> 
                         {% endfor %}
       		</tbody> 
       	</table>
           
    {% endblock %}
